<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
{% include head.html %}
<style>
  body {
    padding: 0 !important;
    background: unset !important;
  }

  .wrapper {
    max-width: unset !important;
  }

  .container-fluid {
    padding-right: unset !important;
    padding-left: unset !important;
  }

  .col-md-8,
  .col-md-4 {
    flex: none;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

</style>

<body>
  <div class="container-fluid">
    <div class="wrapper">
      <div class="skn-mlo6 fontsize document magenta-photo">
        {% include headbar.html %}
        {% include main-section.html %}
        {{ content }}

      </div>
    </div>
  </div>

  {% include scripts.html %}
</body>

</html>
